.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.error {
    color: red;
    margin-top: 0.5em;
}

.login form {
    border: none;
    width: 50vw;
    align-self: center;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.login fieldset {
    border: none;
    margin-bottom: 0.75em;
    display: flex;
    flex-direction: column;
}

.login label {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login input {
    padding: 0.5em;
}

.button {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button:hover,
.button:focus {
    background-color: #07c;
}

.button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
    background-color: #0064bd;
    box-shadow: none;
}

.login textarea {
    padding: 0.5em;
    resize: vertical;
    min-height: 320px;
    font: inherit;
}

.register > * {
    margin: .5em;
}